$color1: #f1bbc1;
$color2: #d53e6c;
$color3: #ffffff;
$color6: #fbe8ec;
$color5: rgb(114, 27, 27);
$size: 20px;
$font-p: system-ui;
$font1: cursive;

.result{

    margin-top: 20px;
    width: 700px;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    background-color: $color3;
    color:  $color2;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 20%;
    background-image: url('../../donuts2back.png') ;

    h2{
        font-family: $font1;
        color: $color2;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    h5{
        font-family: $font1;
        color: $color5;
        text-align: center;
        margin-top: 10px;
    }
    p{
        font-size: size -2;
        margin-top: 5px;
        font-family: $font-p;
        color:black;
        cursor: pointer;
    }
   
    .order__input{
        color: $color2;
        font-family: $font-p;
        border: solid 1px $color2;
        border-radius: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 17px;
        font-family: $font1;
    }
    .result__btn{
        background-color: $color2;
        color: $color3;
        border: $color3;
        font-family: $font1;
        box-shadow: $color5 1px 1px;
        margin-top: 10px;
        text-align: center;
        padding: 10px;
        padding-left: $size;
        padding-right: $size; 
        font-size: $size -5;
        border-radius: $size *5;   
        border: rgb(250, 250, 250);
        margin-bottom: 10px;
    }
    .result__btn:focus{
        outline: none;
        border: none;
        border-color: white;
    }
}