$font-basic: cursive;
$background-main: #f1bbc1;
$font-color: #ffffff;

header{
    height: 100px;
    font-family: $font-basic;
    background-color: $background-main;
    color: $font-color;
}
.content{
    min-height: 100%;
    position: relative;
}
footer{
    height: 50px;
    font-family: $font-basic;
    background-color: $background-main;
    color: $font-color;
    text-align: center;
}