$font-basic: cursive;
$background-main: #f0a3ad;
$font-color: #ffffff;

header{
    height: 100px;
    font-family: $font-basic;
    background-color: $background-main;
    color: $font-color;
}
.content{
    height: auto;
}