$background-main: #f1bbc1;
$font-color: #ffffff;
$common-font-size: 20px;
$common-margin: 30px;


.header{
    display: grid;
    grid-template-areas: 'logo navbar cart';
    grid-template-columns: 25% 50% 25%;
    height: 100px;
    position: fixed;
    z-index: 15;
    background-color: $background-main;
    .header__logo{
        grid-area: 'logo';
        width: auto;

        .header__logo_size{
            height: 100px;
        }
    }
    .header__navbar{
        grid-area: 'navbar';
        z-index: 10;
    }
    .header__cart{
        grid-area: 'cart';
        margin: $common-margin;
        font-size: $common-font-size;
    }
    .header__cart_img{
        margin-left: 15px;
        height: 40px;
        cursor: pointer;
    }
}
