$size: 20px;
$background-main: #f1bbc1;
$background-btn: #d53e6c;
$font-color: #ffffff;
$font-color2: rgb(114, 27, 27);
$font-basic: cursive;
$background-blocks: #fbe8ec;
$font-p: system-ui;

.component_input{
    width: 25px;
    background-color: $background-blocks;
    border: none;
    text-align: center;
   
}
.component_btn{
    margin-top: 10px;
    text-align: center;
    padding: 3px;
    border-radius: 50%;
    background-color: $background-blocks;
    padding-left: $size;
    padding-right: $size;
    font-family: $font-basic;
    color: $background-btn;  
    font-size: $size -7;  
    margin: 2px;
    padding-left: 7px;
    padding-right: 7px; 
    border-color: $background-main;
    border: rgb(216, 184, 184) solid 1px;
    margin-bottom: 3px;
}